table{
    width: 100%;
    border: 5px solid black;
    text-align: center;
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
}
.table1{
    background-color:lightcyan;
}
.table2{
    margin-top: 50px;
}
.thesis .Intro{
    
}